<div id="content" class="site-content">
  <div class="content-1330 center-relative">
    <div class="button-group filters-button-group pt-0">
      <div class="button is-checked" data-filter="*">Tout</div>
      <% @categories.each do |category| %>
        <div class="button" data-filter=".<%= category.name.capitalize %>"><%= category.name.capitalize %></div>
      <% end %>
    </div>

    <div class="grid" id="portfolio">
      <div class="grid-sizer"></div>

        <% @articles.each do |article| %>
          <div class="grid-item element-item p_one_third <%= article.category.name %>">
            <div class="item">
              <%= cl_image_tag article.photo.key, height: 300, width: 400, crop: :fit, alt: "article.name" %>
              <div class="portfolio-text-holder">
                <p><%= article.name.upcase %></p>
              </div>
            </div>
          </div>
        <% end %>
        <% if user_signed_in? %>
          <div class="grid-item element-item p_one_third new-article-item">
            <div class="item">
              <%= image_tag "https://images.unsplash.com/photo-1575578285291-905e55d5a789?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80", height: 300, width: 400, crop: :fit %>
              <%= link_to new_article_path do %>
                <div class="new-article-overlay">
                  <i class="fas fa-plus"></i>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
  <!-- PROJETS -->

    </div>
  </div>
</div>
