<head>
  <meta name="turbolinks-visit-control" content="reload">
</head>

<div id="content" class="site-content">
  <div class="content-1330 center-relative">
    <div class="button-group filters-button-group pt-0">
      <% if user_signed_in? %>
        <div id="new-form">
          <span id="new-form-link"><p><small>ajouter une catégorie</small></p></span>
          <div id="new-form-input" class="d-none">
            <%= simple_form_for([@category], remote: true) do |m| %>
              <%= m.input :name, label: "Nom de la nouvelle catégorie" %>
              <%= m.submit "Enregistrer", class: "form-button" %>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="button is-checked" data-filter="*">Tout</div>
      <% @categories.each do |category| %>
        <div class="button text" data-filter=".<%= category.name %>">
          <%= category.name.capitalize %>
          <% if user_signed_in? %>
            <%= link_to category_path(category),
                        method: :delete,
                        remote: true,
                        data: { confirm: "En supprimant cette catégorie tu supprimeras toutes les oeuvres qui en font partie. Veux-tu continuer ?"} do %>
              <span class="delete-category-icon"><i class="far fa-times-circle"></i></span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="grid" id="portfolio">
      <div class="grid-sizer"></div>

        <% if user_signed_in? %>
          <div class="grid-item element-item p_one_third new-article-item">
            <div class="item">
              <%= image_tag "https://images.unsplash.com/photo-1575578285291-905e55d5a789?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80", height: 300, width: 400, crop: :fit %>
              <%= link_to new_article_path do %>
                <div class="new-article-overlay">
                  <i class="fas fa-plus"></i>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <% @articles.order('articles.created_at DESC').each do |article| %>
          <div id="article-<%= article.id %>" class="grid-item element-item p_one_third <%= article.category.name %>">

            <div class="item position-relative">
              <%= cl_image_tag article.photo.key, height: 400, width: 400, crop: :thumb, alt: "article.name" %>

              <% if user_signed_in? %>
                <div class="edit-article-zone">
                  <div class="delete-article-icon">
                    <%= link_to article_path(article),
                                  method: :delete,
                                  remote: true,
                                  data: { confirm: "Es-tu sûr de vouloir supprimer cette oeuvre ?"} do %>
                      <i class="far fa-times-circle"></i>
                    <% end %>
                  </div>
                  <div class="star-article-icons">
                    <p><small>
                      <% if article.star? %>
                        <%= link_to downvote_article_path(article), method: :patch, remote: true do %>
                          <i class="fas fa-star"></i>
                        <% end %>
                      <% else %>
                        <%= link_to upvote_article_path(article), method: :patch, remote: true do %>
                          <i class="far fa-star"></i>
                        <% end %>
                      <% end %>
                    </small></p>
                  </div>
                  <div class="edit-article-text">
                    <div class="d-flex align-items-start">
                      <p><%= article.name.upcase %></p>
                      <span class="ml-3"><small>
                        <%= link_to edit_article_path(article) do %>
                          <i class="far fa-edit"></i>
                        <% end  %>
                      </small></span>
                    </div>

                    <p><small><%= article.category.name %></small></p>
                  </div>
                </div>
              <% else %>
                <div class="portfolio-text-holder">
                  <p><%= article.name.upcase %></p>
                </div>
              <% end %>

            </div>
          </div>
        <% end %>

    </div>
  </div>
</div>
