<div class="content-1330 center-relative">
  <%= simple_form_for ([@article], remote: true) do |f| %>
    <%= f.input :name, label: "Nom", placeholder: "Fleur rose" %>
    <%= f.input :category_id, label: "Catégorie", as: :select, collection: @categories, selected: 1 %>
    <%= f.input :star, label:"Classer en favori ?", as: :boolean %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Enregistrer", class: "form-button" %>
  <% end %>

  <small><%= link_to "Annuler", articles_path  %></small>
</div>
