<div id="new-form" class="content-1330 center-relative">
  <%= simple_form_for @article do |f| %>
    <%= f.input :name, label: "Nom" %>
    <%= f.input :category_id, label: "Catégorie", as: :select, collection: @categories %>
    <%= f.input :star, label:"Classer en favori ?", as: :boolean %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Enregistrer", class: "button" %>
  <% end %>
</div>
