<div id="content" class="site-content">
  <article>
    <div class="content-1330 center-relative">
      <div class="main-description">
        <h1>Rémi Créations</h1> propose la réalisation de pièces uniques en verre et en argile. Des oeuvres en vitrail ou sculptées, réalisées à la main et destinées à la décoration d'intérieur.
      </div>

      <div class="button-group filters-button-group">
        <div class="button is-checked" data-filter="*">Tout</div>
        <% @selected_categories.each do |category| %>
          <div class="button" data-filter=".<%= category.name %>">
            <%= category.name.capitalize %>
          </div>
        <% end %>
      </div>


      <div class="grid" id="portfolio">
        <div class="grid-sizer"></div>

          <% @star_articles.order('articles.created_at DESC').each do |article| %>

            <div class="grid-item element-item p_one_third <%= article.category.name %>">
              <div class="item">
                <%= cl_image_tag article.photo.key, crop: :fit, alt: "article.name" %>
                <div class="portfolio-text-holder">
                  <p><%= article.name.upcase %></p>
                </div>
              </div>
            </div>

          <% end %>
<!-- PROJETS -->

      </div>

      <div class="home-description">
        <div class="one_half">
          <p>
            <strong>L'histoire</strong>
            <br>
            Rémi a un parcours atypique dans le domaine de l'art. Il n'a pas suivi de formation comme la plupart des artisans verriers.
          </p>
          <p>Autodidacte, c'est dans l'atelier de sa maison qu'il s'essaie à l'art du vitrail. Il chauffe, casse et recommence jusqu'à la réalisation de sa première oeuvre. De l'art floral, de l'art contemporain, des pieds de table, il donne à cette matière toutes les formes.</p>
        </div>
        <div class="one_half last">
          <p>
            <strong>Les créations</strong>
            <br>
            Toujours une idée en tête, il ne se limite pas au travail du verre. Dans son atelier on peut trouver de l'argile, de la céramique, du bois et de l'epoxy. Ses sources d'inspiration sont nombreuses.
          </p>
          <p>&nbsp;</p>
          <div class="text-left">
            <%= link_to "Contact", contact_path, class: "button" %>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
