<!DOCTYPE html>
<html>
  <head>
    <title>Remicreations</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

    <!-- facebook -->
    <meta property="og:title" content="Rémi Créations">
    <meta property="og:image" content="/images/fleur_rose.jpg">
    <meta property="og:description" content="Rémi Créations propose la réalisation de pièces uniques en verre et en argile. Des oeuvres en vitrail ou sculptées, réalisées à la main et destinées à la décoration d'intérieur.">
    <meta property="og:site_name" content="Rémi Créations"/>
    <!-- google -->
    <meta name="description" content="Rémi Créations propose la réalisation de pièces uniques en verre et en argile. Des oeuvres en vitrail ou sculptées, réalisées à la main et destinées à la décoration d'intérieur.">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag 'logo-remi-vert.png' %>
  </head>

  <body>
    <div class="body-wrapper">
      <%= render 'shared/flashes' %>
      <%= render 'shared/navbar' %>

      <%= yield %>

      <%= render 'shared/footer' %>
      <%= render 'shared/login' %>
    </div>
  </body>
</html>
